# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Envs
.venv/
.env
.env.*

# Data
data/pdf_cache/
data/lancedb/
data/sumarios/
data/sqlite/
data/html_cache/
data/eval_reports/
data/eval_baseline.json
data/missing_chunks_*.csv
data/missing_chunks_detailed_*.csv

# Misc
.ipynb_checkpoints/
logs/
ollama/
